* {
    color: darkblue;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.original-container {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.original-container div {
    margin: 10px;
}

button {
    background-color: white;
    border: none;
    padding: 10px;
}

.copies {
    display: flex;
    flex-direction: column;
    
}